node_modules/

.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
out/

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

.tmp/
.temp/

config.json
*.pem
*.key

*.bak
*.gho
*.ori
*.orig
*.tmp